.option button{
    margin-right: 10px;
}
.option input{
    padding: 10px 10px;
}
button[type=submit]{
    padding: 10px 10px;
}
.input__wrap{
    margin: 10px 0px;
}
.newShow>div{
    margin:10px;
    border: 1px solid
}
.newShow>div>span{
    display: inline-block;
    padding: 10px;
}