
/* .makeStyles-content-9{
    overflow: auto;
} */
/* 
@media screen and (max-width: 830px) {
        #ces_res,
        .mostly-customized-scrollbar {
            display: block;
            width: 700px;
            overflow: auto;
        }

        .invisible-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .mostly-customized-scrollbar::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            background-color: #aaa;
        }

        .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
            background: #000;
        }

}
@media screen and (max-width: 750px) {
        #ces_res,
        .mostly-customized-scrollbar {
            display: block;
            width: 600px;
            overflow: auto;
        }

        .invisible-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .mostly-customized-scrollbar::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            background-color: #aaa;
        }

        .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
            background: #000;
        }

}

@media screen and (max-width: 600px) {
        #ces_res,
        .mostly-customized-scrollbar {
            display: block;
            width: 300px;
            overflow: auto;
        }

        .invisible-scrollbar::-webkit-scrollbar {
            display: none;
        }
        .mostly-customized-scrollbar::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            background-color: #aaa;
        }

        .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
            background: #000;
        }

} */
